#pedidosContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));
  gap: 10px;
  padding: 20px;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  height: 150px;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #555;
}

/*📌 card" 📌*/
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  flex-wrap: wrap;
  padding: 20px;
}

.card {
  width: 300px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: transform 0.3s ease;
  border: 1px solid #ccc;
  padding: 20px;
  max-width: 400px;
}

.card:hover {
  transform: translateY(-5px);
}

.card-content {
  padding: 20px;
}

h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #333;
}

p {
  margin: 0;
  margin-bottom: 10px;
  font-size: 1rem;
  color: #666;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* Estilo para o texto "Código ZPL" */
.cod-zpl-label {
  font-size: 0.8rem; /* Defina o tamanho da fonte desejado */
  color: #888; /* Cor do texto */
  display: -webkit-box;
  -webkit-line-clamp: 6; /* Número de linhas que você deseja exibir */
  -webkit-box-orient: vertical;
  overflow: hidden; /* Oculta o conteúdo que ultrapassa as linhas especificadas */
}
