/* Estilo para organizar os gráficos dentro de cards */
body {
    background-color: rgba(0, 0, 0, 0.123);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-top: 20px; /* Ajuste opcional para espaço superior */
}

/* Estilo para o card dos gráficos de pizza */
.pizza-card {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f5f5dc8a; /* Background padrão */
    margin-bottom: 15px; /* Espaço entre os cards */
}

/* Estilo para o card dos gráficos de barras */
.bar-card {
    width: 400px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f5f5dc8a; /* Background padrão */
    margin-bottom: 15px; /* Espaço entre os cards */
}

/* Estilo para o conteúdo dentro dos cards */
.pizza-card, .bar-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/* Ajuste para o conteúdo dentro dos cards */
.pizza-card canvas, .bar-card canvas {
    max-width: 100%;
    max-height: 100%;
}

h2 {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: lighter;
    background-color: var(--paleta8);
    color: var(--paleta4);
    width: 100%;
    height: 40px;
    border: 1px solid #dddddda9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px; /* Espaço adicional acima dos títulos */
}
