.container1{   
  background-color: #709aa5b4;
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  padding-top: 10px;
}

.container1 label{
  font-size: 40px;
  margin-left: 20px; /* Adicione a margem direita desejada */
  color: #18343bb4;
}
/*designe para o evento de solicitação de setup*/
.dialog {
  top: 10;
  left: 10;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.card0 {
  margin-top: 8px;
  margin-right: 8px; /* Adicione a margem direita desejada */
  margin-block: 20px; /* Adicione a margem direita desejada */
  margin-left: 8px; /* Adicione a margem direita desejada */
  margin-bottom: 20px; /* Adicione a margem inferior desejada */
  width: 380px;
  height: 120px;
  padding: 5px;
  border: 1px solid #213236b4;
  display: grid;
  justify-content: center;
  transition: transform 0.3s ease;
  background-color: #c5cacbb4; /*cor de fundo do card*/
  border-radius: 4%; /* raio na borda*/
  box-shadow: 6px 6px 1px 0px #00000060 /*sombra*/ 
}

.card0:hover {
  transform: scale(1.1);
}

.card0 button{
  background-color:#ffffff80;
  width: 150px;
  height: 40px;
  font-weight:normal;
  font-size: 12pt;
  margin-top: 0px;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  transition: all .4s ease-out;
}

.button-solicitar{
  display: flex;
  justify-content:center;
}