#dialog {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  margin-top: 0px;
  overflow-y: auto;
  font-size: 12px;
  justify-content: center; /* Centraliza os itens horizontalmente */
  align-items: flex-start; /* Alinha os itens ao topo */
}

  .card {
    width: auto;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card button {
    border: var(--paleta11);
    box-shadow: 0px 0px 5px var(--paleta1); /* Sombra 3D */
    background-color: var(--paleta10); 
    width: 185px;
    height: 178px;
  }

  .label-float2 {
    font-size: 12px;
    text-align: center;
  }