#dialog {
    display:flex;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    padding: 14px;
    margin-top:30px;
    overflow-y: auto;
    font-size: 12px;
    flex-wrap: wrap;
  }

  .LOGO0 IMG {
    width: 60px;
    height: 30px;
  }

  .card {
    width: auto;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.1);
  }
  
  .card button {
    border-radius: 10px;
    border: var(--paleta11);
    box-shadow: 1px 1px 8px var(--paleta1); /* Sombra 3D */
    background-color: var(--paleta10); 
    width: 185px;
    height: 178px;
  }

  .label-float2 {
    font-size: 12px;
    text-align: center;
  }