/*designe para o evento de solicitação de setup*/
.dialog { 
  overflow-y: auto;
  font-size: 12px;
  margin: 20px;
  display:flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  }

  .card {
  width: auto;
  height: auto;
  margin: 15px;
  transition: transform 0.3s ease;
  margin-bottom: 20px; /* Adicione a margem inferior desejada */
  background-color: var(--paleta5); /*cor de fundo do card*/
  border-radius: 5%; /* raio na borda*/
  box-shadow: 4px 4px 8px var(--paleta1); /* Sombra 3D */
  }
  
  .card:hover {
    transform: scale(1.1);
  }

  .card button {
    width: 202px;
    height: 178px;
    color: var(--paleta1); 
  }

  button {
    align-items: center;
    background-color: transparent;
    padding: 7px;
    font-weight: bold;
    font-size: 11pt;
    margin-top: 0px;
    border-radius: 5px;
    cursor:move;
    font-family:Arial, Helvetica, sans-serif;
  }

  .label-float2 {
    font-size: 12px;
    text-align: center;
  }