* {
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }

:root {
    --paleta1: #42667c;/* Borda 1 */
    --paleta2: #7b3d1e;/* Borda 1 */
    --paleta3: #768d9d;
    --paleta4: rgb(255, 255, 255);/* Fundo do projeto 1*/
    --paleta5: #ffffff;/* Fundo do projeto 2*/
    --paleta7: #ffffff;/* Título Header 2*/
    --paleta8: #3a8ec2;/* Botão Header 2*/
/* -------------------------- Cores Formulário -------------------------------   */
    --paleta6: #2b2323;    /* Fonte Formulário*/
    --paleta9: #2b2b2baa;  /* fundo Formulário*/
    --paleta10: #f9f9f9;   /* fundo Formulário*/
    --paleta11:  #ccc;     /* Borda dos campos do Formulário*/
    --paleta12:  rgb(222, 222, 222);/* Borda dos campos do Formulário*/

/* -------------------------- Cores Botões -------------------------------   */
    --paleta30:  #ffffff;/* Cor da fonte color Button*/    
    --paleta31:  #42667c;/* Cor da fonte background Button*/    
    --paleta32:  #2b2323;/* Cor da fonte Button color hover*/    
    --paleta33:  #ffffff;/* Cor da fonte Button background hover*/    
    --paleta34:  #42667c;/* Cor */    

/* -------------------------- Cores Status Cartões -------------------------------   */
    --paleta100:  #f39d1277;/* Cartão atentendo*/
    --paleta200:  #815103;/* Borda Cartão atentendo*/
    --paleta101:  #3498db77;/* Cartão aguardando*/
    --paleta201:  #005288;/* Borda Cartão aguardando*/
    --paleta102:  #2ecc7077;/* Cartão pronto*/
    --paleta202:  #028037;/* Borda Cartão pronto*/
    --paleta103:  #b9050577;/* Cartão cancelado*/
    --paleta203:  #580101;/* Borda Cartão cancelado*/
    --paleta104:  #b3b90577;/* Borda Cartão esperando*/
    --paleta204:  #515402e5;/* Borda Cartão esperando*/
    --paleta105:  #e0470077;/* Borda Cartão parado*/
    --paleta205:  #842a01e4;/* Borda Cartão parado*/
    --paleta106:  #d0ff0077;/* Borda Cartão esperando*/
    --paleta206:  #586c00e5;/* Borda Cartão esperando*/

    --paleta250:  #f9f9f9;/* Cartão atentendo*/
    --paleta251:  #b0afaf;/* Borda Cartão atentendo*/
    --paleta252:  #42667c;/* Borda Cartão atentendo*/

    --paleta300:  #787878f6;/* Linha de separação (linha-separadora)*/
    --paleta301:  #040404e4;/* Fonte dos Títulos do Card (texto1 )*/
    --paleta302:  #25252536;/* background-color (menu-button )*/
    --paleta303:  rgba(37, 37, 37, 0.336);/* border-color (menu-button )*/
    --paleta304:  #4b4b4bda;/* border-color (menu-button )*/



  body {
    background: linear-gradient(to bottom, var(--paleta4), var(--paleta5));
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    padding-top: 135px; /* Ajuste conforme a altura do cabeçalho */
  }

  h1{ /*Relacionado ao titulo*/
    text-align: center; /*Alinhamento*/
    margin-bottom: 25px; /*distância dos objetos*/
  }

  .header {
    align-items: center; /* Centraliza verticalmente o conteúdo */
    height: 115px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--paleta1);
    color: var(--paleta7);
    text-align: center;
    padding: 20px 0;
    z-index: 1000; /* Para garantir que o cabeçalho esteja sempre na frente */
    border: none; /* Remova a borda padrão */
    box-shadow: 0 3px 10px var(--paleta1); /* Adicione uma sombra com desfoque para criar o efeito luminoso na parte inferior */
    border-bottom-left-radius: 10px; /* Borda arredondada apenas no canto inferior esquerdo */
    border-bottom-right-radius: 10px; /* Borda arredondada apenas no canto inferior direito */
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
  }

  .header h1 {
    position:absolute;
    height: auto;
    width: 230px;
    top: 10%; /* Altere as unidades de medida conforme necessário */
    left: 50%; /* Altere as unidades de medida conforme necessário */
    transform: translate(-50%, -50%);
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    color: var(--paleta7);
    text-align: center;
  }

  .header button {
    margin: 10px;
  }

  .titulo-escopo {
    height: auto;
    width: 400px;
    margin-top: 70px;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 14px;
    color: var(--paleta7);
    padding: 5px;
    font-family: Arial, sans-serif; /* Define a família da fonte */
    line-height: 1.5; /* Define a altura da linha para melhorar a legibilidade */
  }
  /* ________________________________________________________________________________________________*/
  /* Estilos do cabeçalho */
  .LOGO1 IMG {
    width: 60px;
    height: 65px;
  }

  button {
    cursor: pointer;
  }

  .LOGO1 {
    justify-content: center; /* Centraliza os elementos horizontalmente */
    align-items: center; /* Centraliza os elementos verticalmente */
    width: 80px;
    height: 80px;
    transition: transform 0.3s ease;
    background-color: var(--paleta4); /*cor de fundo do card*/
    padding: 5px; /*Tamanho do card*/
    box-shadow: 4px 4px 8px var(--paleta3); /* Sombra 3D */
    border: 1px solid var(--paleta4);
    position: fixed;
    display:grid;
    border-radius: 10px;
    top: 0px;
  } 

  .LOGOLogin img {
    width: 30px;
    height: 35px;
  }

  .LOGOLogin {
    position: absolute;
    width: 40px;
    height: 45px;
    right: 0px; /* Posiciona o botão no lado direito do contêiner */
    top: 0px; /* Posiciona o botão no topo do contêiner */
    justify-content: center; /* Centraliza os elementos horizontalmente */
    align-items: center; /* Centraliza os elementos verticalmente */
    background-color: var(--paleta4); /*cor de fundo do card*/
    padding: 5px; /*Tamanho do card*/
    box-shadow: 4px 4px 8px var(--paleta3); /* Sombra 3D */
    border: 1px solid var(--paleta4);
    border-radius: 10px;
  }

  .Borda1 label{
    font-size: 40px;
    color: var(--paleta6);
  }

  /* Estilo para a mensagem de sucesso */
  .success-message {
    position: fixed;
    height: 120px;
    width: 300px;
    top: 50%; /* Altere as unidades de medida conforme necessário */
    left: 50%; /* Altere as unidades de medida conforme necessário */
    transform: translate(-50%, -50%);
    background-color: #4CAF50;
    color: var(--paleta6);
    padding: 15px;
    border-radius: 10px;
    z-index: 1000; /* Garanta que a mensagem apareça na frente de outros elementos */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    text-align: center;
  }
  /* ________________________________________________________________________________________________*/
  /*-------📌 Botões Cabeçario 📌-------*/
  /* ________________________________________________________________________________________________*/
  .sidebar-buttons-container {
    margin-top: 70px; /* Ajuste a margem do topo conforme necessário */
    display: flex;
    justify-content: center; /* Centraliza os elementos horizontalmente */
    align-items: center; /* Centraliza os elementos verticalmente */
  }

  .sidebar-button {
    margin-bottom: 0px; /* Espaçamento entre os botões */
    border-radius: 4px;
    width: 160px; /* Ajuste a largura conforme necessário */
    height: 30px;
    font-size: 14px;
    background-color: var(--paleta30);
    color: var(--paleta31);
    border: 1px solid var(--paleta31);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .sidebar-button:hover {
    background-color: var(--paleta31);
    color: var(--paleta30);
    border: 1px solid var(--paleta30);
  }

  /* Estilo para o texto na mensagem de sucesso */
  .success-text {
    margin-top: 70px; /* Espaço entre a imagem e o texto */
  }

  /* Estilo para a imagem na parte superior no centro */
  .success-image {
    position: absolute;
    top: 10px; /* Adicione unidades de medida */
    left: 50%; /* Adicione unidades de medida */
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  }
  /* ________________________________________________________________________________________________*/
  /*-------📌 Formulário para solicitação | Cadastro 📌-------*/
  /* ________________________________________________________________________________________________*/
  /* Estilos para o overlay */
  .overlay {
    color: var(--paleta6);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--paleta9);
    z-index: 1000;
  }
  .overlay1 {
    color: var(--paleta6);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--paleta9);
    z-index: 1000;
  }
  /* Estilos para animação */
  @keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
  }

  .fade-in {
    animation: fadeIn 0.3s ease-in;
  }

  .fade-out {
    animation: fadeOut 0.3s ease-out;
  }

  .modal {
    background-color: var(--paleta10);
    width: 300px;
    padding: 15px;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .modal h2 {
    font-size: 24px;
    margin-bottom: 5px;
    color: var(--paleta8);
  }

  .modal label {
    display: block;
    margin-bottom:2px;
    font-weight: bold;
  }

  .modal input[type="text"],
  .modal textarea{
    width: 95%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid var(--paleta11);
    border-radius: 4px;
    font-size: 16px;
  }

  .modal select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid var(--paleta10);
    border-radius: 4px;
    font-size: 16px;
  }
  .modal label[for="hora"] {
    display: block; /* Torna o label um elemento de bloco */
    text-align: center; /* Centraliza o texto horizontalmente */
    margin-bottom: 5px; /* Adiciona um espaço entre o label e o campo de hora */
  }
  /* Estilizando o campo de hora */
  .modal input[type="time"] {
    width: 35%; /* Reduzindo a largura para 50% */
    padding: 10px;
    margin: 0 auto; /* Centralizando horizontalmente */
    border: 1px solid var(--paleta10);
    border-radius: 4px;
    font-size: 20px;
    /* Adicionando espaçamento interno para o texto dentro do campo de hora */
    padding-left: 8px;
    display: block; /* Certificando-se de que o input é exibido como bloco */
  }


  .modal textarea {
    height: 50px;
  }

  .modal button {
    padding: 10px 20px;
    background-color: var(--paleta31);
    color: var(--paleta30);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  .modal button:hover {
    background-color: var(--paleta33);
    color: var(--paleta32);
    border: 1px solid var(--paleta31);
  }

  .modal button + button {
    margin-left: 3%;
  }

  textarea {
    width: 100%; /* Faz o input se ajustar ao contêiner, mas não maior que isso */
    max-width: 100%; /* Impede que o input ultrapasse o contêiner */
    box-sizing: border-box; /* Garante que paddings e bordas estejam incluídos na largura total */
  }
  /* ________________________________________________________________________________________________*/
  /*-------📌 Estilo para o botão dentro do cartão 📌-------*/
  /* ________________________________________________________________________________________________*/
  .card1 {
    width: 170px; /* Ajuste a largura conforme necessário */
    margin: 10px;
    height: 350px;
    border-radius: 20px;
    border: 1px solid;
    transition: transform 0.3s ease; /* Adiciona uma transição suave para a propriedade transform */
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
  }

  /* Adiciona uma transformação de escala quando o mouse passa por cima */
  .card1:hover {
    transform: scale(1.03); /* Aumenta a escala em 5% */
  }

  /* Estilos para diferentes status */
  .card1.atendendo {
    box-shadow: 1px 3px 15px var(--paleta1); /* Sombra 3D */
    background-color: var(--paleta100);
    border-color: var(--paleta200);
  }

  .card1.aguardando {
    box-shadow: 1px 3px 15px var(--paleta1); /* Sombra 3D */
    background-color: var(--paleta101);
    border-color: var(--paleta201);
  }

  .card1.pronto {
    box-shadow: 1px 3px 15px var(--paleta1); /* Sombra 3D */
    background-color: var(--paleta102);
    border-color: var(--paleta202);
  }

  .card1.cancelado {
    box-shadow: 1px 3px 15px var(--paleta1); /* Sombra 3D */
    background-color: var(--paleta103);
    border-color: var(--paleta203);
  }
  .card1.esperando {
    box-shadow: 1px 3px 15px var(--paleta1); /* Sombra 3D */
    background-color: var(--paleta104);
    border-color: var(--paleta204);
  }
  .card1.parado {
    box-shadow: 1px 3px 15px var(--paleta1); /* Sombra 3D */
    background-color: var(--paleta105);
    border-color: var(--paleta205);
  }
  .card1.try_out {
    box-shadow: 1px 3px 15px var(--paleta1); /* Sombra 3D */
    background-color: var(--paleta106);
    border-color: var(--paleta206);
  }
  /* ________________________________________________________________________________________________*/
  /* ________________________________________________________________________________________________*/
  /* Adicione estilos para outras classes conforme necessário */
  .info0 {
    margin-top: -3px;
    text-align: center;
  }

  .linha-separadora {
    margin-top: -21px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 1px;
    background-color: var(--paleta300); /* Cor de fundo da linha */
  }
  .info-line {
    font-weight: bold;
    text-align:center;
    font-size: 18px;
    width: 180px;
    height: 230px
  }
  .info-line1 {
    margin-left: 5px;
    width: 160px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Número máximo de linhas */
    -webkit-box-orient: vertical;
    transition: max-height 0.5s, overflow 0.5s; /* Adiciona uma transição suave */
  }
  .infoId {
    margin-top: -24px;
    margin-bottom: 25px;
    margin-left: 130px;
    font-weight: bold;
  }

  .info-line1:hover {
    background-color: var(--paleta300);
    border-radius: 10px;
    height: 100px;
    overflow: visible;
    white-space: normal;
    max-height: unset; /* Remove a altura máxima para exibir todo o conteúdo */
  }

  .texto1 {
    color:  var(--paleta301);
    font-size: 11px;
    width: 180px;
    height: 20px;
  }

  .card1 button {
    border-radius: 15px;
    font-size: 16px;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    display: grid;
    cursor: pointer;
    font-family: 'Merienda', Arial, Helvetica, sans-serif;
    transition: background-color 0.8s;
  }

  .menu-button {
    margin-top: 0px;
    width: 170px;
    height: 30px;
    background-color: var(--paleta302);
    border-color: var(--paleta303);
    color: var(--paleta301);
    cursor: pointer;
    position: relative; /* Adicione position: relative para posicionar os status-buttons */
  }

  .status-buttons {
    margin-left: 5px;
    background-color:var(--paleta304);
    height: 65%;
    width: 160px;
    display: none;
    position: absolute;
    top: 30px; /* Posicione os status-buttons abaixo do menu-button */
    left: 0; /* Alinhe os status-buttons com o menu-button */
    border-radius: 8px;
    z-index: 1;
  }

  .status-buttons button {
    margin-left: 13px;
    margin-top: 5px;
  }

  .menu-button:hover + .status-buttons,
  .status-buttons:hover {
    display: block; /* Mostra os status-buttons quando o mouse está sobre o menu-button ou os status-buttons */
  }

  .button-aguardando{
    height: 25px;
    color: var(--paleta200);
    box-shadow: 1px 1px 5px var(--paleta1); /* Sombra 3D */
    background-color: var(--paleta10);
  }
  .button-atendendo{
    height: 25px;
    color: var(--paleta201);
    box-shadow: 1px 1px 5px var(--paleta1); /* Sombra 3D */
    background-color: var(--paleta10);
  }

  .button-pronto{
    height: 25px;
    color: var(--paleta202);
    box-shadow: 1px 1px 5px var(--paleta1); /* Sombra 3D */
    background-color: var(--paleta10);
  }
  .button-cancelado{
    height: 25px;
    color: var(--paleta203);
    box-shadow: 1px 1px 5px var(--paleta1); /* Sombra 3D */
    background-color: var(--paleta10);
  }
  .button-folha{
    height: 25px;
    color: var(--paleta201);
    box-shadow: 1px 1px 5px var(--paleta1); /* Sombra 3D */
    background-color: var(--paleta10);
  }
  .button-excluir{
    height: 25px;
    color: var(--paleta203);
    box-shadow: 1px 1px 5px var(--paleta1); /* Sombra 3D */
    background-color: var(--paleta10);
  }

}
