/*📌📌📌_______________________________________________ Paleta de Cores _________________________________________________📌📌📌*/
:root {
  /* 🎨🎨🎨🎨🎨🎨🎨---------------------🎨🎨🎨🎨🎨🎨🎨   */

    --paleta0: 0.7px 0.7px 0.7px #000000;/* Borda da fonte */

    
    --paleta1: #616366;/* Borda 1 */
    --paleta2: #7b3d1e;/* Borda 1 */
    --paleta3: #768d9d;
    --paleta4: #ffffff;/* Fundo superior da página*/
    --paleta5: #ffffff;/* Fundo inferior da página e da caixa de mensagem*/
    --paleta7: #ffffff;/* Fonte do Título Header 2*/

/* 🎨🎨🎨🎨🎨🎨🎨---------- Caixa de mensagem -----------🎨🎨🎨🎨🎨🎨🎨   */

    --paleta400:  #323232;/* Sombra da imagem */
    --paleta401:  #616366; /* Fundo Background */
    --paleta402:  #ffffff; /* Cor Da fonte*/

/* 🎨🎨🎨🎨🎨🎨🎨---------- Cores Formulário -----------🎨🎨🎨🎨🎨🎨🎨   */

    --paleta8: #00a9e0;  /* Fonte do Título Formulário*/
    --paleta6: #2b2323;    /* Fonte Formulário*/
    --paleta9: #2b2b2baa;  /* fundo Formulário*/
    --paleta10: #f9f9f9;   /* fundo Formulário*/
    --paleta11:  #ccc;     /* Borda dos campos do Formulário*/
    --paleta12:  #00a9e0;/* Borda dos campos do Formulário hover*/
    --paleta13:  #ffffff;/* Borda dos campos do Formulário*/

/* 🎨🎨🎨🎨🎨🎨🎨---------- Cores Botões Formulário -----------🎨🎨🎨🎨🎨🎨🎨   */

    --paleta30:  #ffffff;/* Cor da fonte color Button*/    
    --paleta31:  #616366;/* Cor da fonte background Button*/    
    --paleta32:  #ffffff;/* Cor da fonte Button color hover*/    
    --paleta33:  #616366;/* Cor da fonte Button background hover*/

/* 🎨🎨🎨🎨🎨🎨🎨---------- Cores Botões HEADER (Cabeçario)-----------🎨🎨🎨🎨🎨🎨🎨   */

    --paleta40:  #ffffff;/* Cor da fonte color Button*/    
    --paleta41:  #616366;/* Cor da fonte background Button*/    
    --paleta42:  #ffffff;/* Cor da fonte Button color hover*/    
    --paleta43:  #616366;/* Cor da fonte Button background hover*/      

    /* 🎨🎨🎨🎨🎨🎨🎨---------- Cores da tabelas -----------🎨🎨🎨🎨🎨🎨🎨   */

    --paleta500:  #616366;/* cabeçario Cor do background*/    
    --paleta501:  #ffffff;/* cabeçario Cor da fonte*/    
    --paleta502:  #ffffff;/* cabeçario Cor da Sombra*/    
    --paleta503:  #000000;/* cabeçario Cor da borda fonte hover*/      
    --paleta504:  #00a9e0;/* cabeçario Cor do background hover*/      
    --paleta505:  #ffffff;/* cabeçario Cor da fonte hover*/      
    --paleta506:  #000000;/* cabeçario Cor da borda hover*/  
        
    --paleta510:  #616366;/*  Cor da linha */      
    --paleta511:  #00a9e0;/*  Linha Cor do background hover 1*/
    --paleta512:  #00a9e0;/*  Linha Cor do background hover 2*/
    --paleta513:  #ffffff;/*  Linha Cor da fonte hover*/
    
    --paleta520:  #616366;/*  Menu Cor do background*/
    --paleta521:  #000000;/*  Menu Cor da borda*/ 
    --paleta522:  #ffffff;/*  Menu Cor da fonte do button hover*/
    --paleta523:  #00a9e0;/*  Menu Cor do button hover*/

/* 🎨🎨🎨🎨🎨🎨🎨---------- Cores Status Cartões -----------🎨🎨🎨🎨🎨🎨🎨   */

    --paleta100:  #f39d1277;/* Cartão atentendo*/
    --paleta200:  #815103;/* Borda Cartão atentendo*/
    --paleta101:  #3498db77;/* Cartão aguardando*/
    --paleta201:  #005288;/* Borda Cartão aguardando*/
    --paleta102:  #2ecc7077;/* Cartão pronto*/
    --paleta202:  #028037;/* Borda Cartão pronto*/
    --paleta103:  #b9050545;/* Cartão cancelado*/
    --paleta203:  #580101;/* Borda Cartão cancelado*/
    --paleta104:  #b3b90577;/* Borda Cartão esperando*/
    --paleta204:  #515402e5;/* Borda Cartão esperando*/
    --paleta105:  #e0470090;/* Borda Cartão parado*/
    --paleta205:  #842a01e4;/* Borda Cartão parado*/
    --paleta106:  #d0ff0077;/* Borda Cartão esperando*/
    --paleta206:  #586c00e5;/* Borda Cartão esperando*/

    --paleta250:  #f9f9f9;/* Cartão atentendo*/
    --paleta251:  #b0afaf;/* Borda Cartão atentendo*/
    --paleta252:  #42667c;/* Borda Cartão atentendo*/

    --paleta300:  #787878f6;/* Linha de separação (linha-separadora)*/
    --paleta301:  #040404e4;/* Fonte dos Títulos do Card (texto1 )*/
    --paleta302:  #25252536;/* background-color (menu-button )*/
    --paleta303:  rgba(37, 37, 37, 0.336);/* border-color (menu-button )*/
    --paleta304:  #4b4b4bda;/* border-color (menu-button )*/

/*📌📌📌_________________________________________________________________________________________________________________📌📌📌*/
/*📌📌📌_______________________________________________ Corpo da Página _________________________________________________📌📌📌*/
* {
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }

  body {
    background: linear-gradient(to bottom, var(--paleta4), var(--paleta5));
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    padding-top: 135px; /* Ajuste conforme a altura do cabeçalho */
  }

  h1{ /*Relacionado ao titulo*/
    text-align: center; /*Alinhamento*/
    margin-bottom: 25px; /*distância dos objetos*/
  }

  #pedidosContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--min-card-width), 1fr));
    gap: 10px;
    padding: 20px;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 10px;
}

/*📌📌📌__________________________________________________________________________________________________________________📌📌📌*/
/*📌📌📌_______________________________________________ Cabeçario Padrão _________________________________________________📌📌📌*/
  .header {
    align-items: center; /* Centraliza verticalmente o conteúdo */
    height: 115px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--paleta1);
    color: var(--paleta7);
    text-align: center;
    padding: 20px 0;
    z-index: 1000; /* Para garantir que o cabeçalho esteja sempre na frente */
    border: none; /* Remova a borda padrão */
    box-shadow: 0 3px 10px var(--paleta1); /* Adicione uma sombra com desfoque para criar o efeito luminoso na parte inferior */
    border-bottom-left-radius: 10px; /* Borda arredondada apenas no canto inferior esquerdo */
    border-bottom-right-radius: 10px; /* Borda arredondada apenas no canto inferior direito */
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
  }

  .header h1 {
    text-shadow: var(--paleta0); /* Sombra no texto para melhorar a leitura */
    position:absolute;
    height: auto;
    width: 280px;
    top: 16%; /* Altere as unidades de medida conforme necessário */
    left: 50%; /* Altere as unidades de medida conforme necessário */
    transform: translate(-50%, -50%);
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    color: var(--paleta7);
    text-align: center;
  }

  .header button {
    margin: 10px;
  }

  .titulo-escopo {
    text-shadow: 0.7px 0.7px 0.7px #000; /* Sombra no texto para melhorar a leitura */
    height: auto;
    width: 400px;
    margin-top: 70px;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 14px;
    color: var(--paleta7);
    padding: 5px;
    font-family: Arial, sans-serif; /* Define a família da fonte */
    line-height: 1.5; /* Define a altura da linha para melhorar a legibilidade */
  }

  .LOGO1 IMG {
    width: 60px;
    height: 65px;
  }

  .LOGO1
  {
    justify-content: center; /* Centraliza os elementos horizontalmente */
    align-items: center; /* Centraliza os elementos verticalmente */
    width: 80px;
    height: 80px;
    transition: transform 0.3s ease;
    background-color: var(--paleta4); /*cor de fundo do card*/
    padding: 5px; /*Tamanho do card*/
    box-shadow: 4px 4px 8px var(--paleta3); /* Sombra 3D */
    border: 1px solid var(--paleta4);
    position: fixed;
    display:grid;
    top: 0px;
  }
  
  .LOGO0 {
    border: none;
    justify-content: center; /* Centraliza os elementos horizontalmente */
    align-items: center; /* Centraliza os elementos verticalmente */
    transition: transform 0.3s ease;
    position: fixed;
    display:grid;
    top: 10px;
  } 

  .LOGO0 IMG {
    width: 60px;
    height: 60px;
  }
  
  .LOGOLogin img {
    width: 40px;
    height: 40px;
  }

  .LOGOLogin {
    background-color: var(--paleta1);
    border: none;
    position: absolute;
    right: 0px; /* Posiciona o botão no lado direito do contêiner */
    top: 0px; /* Posiciona o botão no topo do contêiner */
  }
  .LOGOLogin:hover {
    transform: scale(1.1); /* Aumenta a escala da foto ao passar o mouse sobre ela */
    filter: grayscale(70%); /* Converte a foto para escala de cinza */
  }
  .Borda1 label{
    font-size: 40px;
    color: var(--paleta6);
  }

  /*-------📌 Botões Cabeçario 📌-------*/
  .sidebar-buttons-container {
    margin-top: 70px; /* Ajuste a margem do topo conforme necessário */
    display: flex;
    justify-content: center; /* Centraliza os elementos horizontalmente */
    align-items: center; /* Centraliza os elementos verticalmente */
  }

  .sidebar-button {
    text-shadow: var(--paleta0); /* Sombra no texto para melhorar a leitura */
    margin-bottom: 0px; /* Espaçamento entre os botões */
    border-radius: 4px;
    width: 160px; /* Ajuste a largura conforme necessário */
    height: 30px;
    font-size: 14px;
    background-color: var(--paleta41);
    color: var(--paleta40);
    border: 1px solid var(--paleta40);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .sidebar-button:hover {
    background-color: var(--paleta42);
    color: var(--paleta43);
    border: 1px solid var(--paleta43);
  }

/*📌📌📌________________________________________________________________________________________________📌📌📌*/
  /* Estilo para o texto na mensagem de sucesso */
  .success-text {
    margin-top: 70px; /* Espaço entre a imagem e o texto */
  }

  /* Estilo para a imagem na parte superior no centro */
  .success-image {
    position: absolute;
    top: 10px; /* Adicione unidades de medida */
    left: 50%; /* Adicione unidades de medida */
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0px 4px 8px var(--paleta400);/* Sombra da imagem */
  }

  /* Estilo para a mensagem de sucesso */
  .success-message {
    position: fixed;
    height: 120px;
    width: 300px;
    top: 50%; /* Altere as unidades de medida conforme necessário */
    left: 50%; /* Altere as unidades de medida conforme necessário */
    transform: translate(-50%, -50%);
    background-color: var(--paleta401);/* Fundo Background */
    color: var(--paleta402);/* Cor Da fonte*/
    padding: 15px;
    border-radius: 10px;
    z-index: 1000; /* Garanta que a mensagem apareça na frente de outros elementos */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    text-align: center;
  }
/*📌📌📌__________________________________________________________________________________________________________________📌📌📌*/
/* __________________________________________________________ Formulários _________________________________________________________*/

  .overlay,
  .overlay1 {
    display: none;
    flex-direction: column;
    text-align: center;
    align-items: center;
    box-sizing: border-box;

    color: var(--paleta6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--paleta9);
    z-index: 1000;
  }

  /* Estilos para animação */
  @keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
  }

  .fade-in {
    animation: fadeIn 0.3s ease-in;
  }

  .fade-out {
    animation: fadeOut 0.3s ease-out;
  }

  .modal {
    background-color: var(--paleta10);
    width: 300px;
    padding: 15px;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .modal h2 {
    margin-top: 0px;
    font-size: 24px;
    color: var(--paleta8);
  }

  .modal label {
    margin-bottom:2px;
    font-weight: bold;
  }

  .modal input[type="password"],
  .modal input[type="email"],
  .modal input[type="text"]{
    background-color: var(--paleta13); /* Cor de fundo */
    text-align: center; /* Centraliza o texto horizontalmente */
    width: 95%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid var(--paleta11);
    border-radius: 20px; /* Arredondamento da borda */
    font-size: 16px;
  }

  .modal select {
    text-align: center; /* Centraliza o texto horizontalmente */
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    background-color: var(--paleta13); /* Cor de fundo */
    border: 1px solid var(--paleta11); /* Borda */
    border-radius: 20px;
    font-size: 16px;
  }
  
  input[type="date"],
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    text-align: center; /* Centraliza o texto horizontalmente */
    background-color: var(--paleta13); /* Cor de fundo */
    border: 1px solid var(--paleta11); /* Borda */
    padding: 8px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    border-radius: 20px; /* Arredondamento da borda */
  }

  .hour {
    padding: 5px;
    border: 1px solid var(--paleta7);
    border-radius: 20px; /* Arredondamento da borda */
    text-align: end;
  }

  /* Estilizando o foco do campo de data */
  input[type="date"]:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  textarea:focus,
  select:focus,
  input[type="time"]:focus{
    border: 2px solid ;
    border-color: var(--paleta12); /* Cor da borda ao focar */
    outline: none; /* Remove o contorno padrão */
    box-shadow: 0 0 0 0.05rem var(--paleta7); /* Sombra ao redor do campo */
  }
  
  .modal label[for="hora"] {
    text-align: center; /* Centraliza o texto horizontalmente */
  }
  /* Estilizando o campo de hora */
  .modal input[type="time"] {
    border-radius: 20px; /* Arredondamento da borda */
    text-align: center; /* Centraliza o texto horizontalmente */
    margin-top: 5px;
    background-color: var(--paleta13); /* Cor de fundo */
    border: 1px solid var(--paleta11); /* Borda */
    width: 35%; /* Reduzindo a largura para 50% */
    padding: 5px;
    font-size: 16px;
  }


  .modal textarea {
    margin-bottom: 5px; /* Adiciona um espaço entre o label e o campo de hora */
    height: 50px;
  }

  .modal button {
    text-shadow: var(--paleta0); /* Sombra no texto para melhorar a leitura */
    padding: 10px 20px;
    background-color: var(--paleta30);
    color: var(--paleta31);
    border: 1px solid var(--paleta31);
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  .modal button:hover {
    background-color: var(--paleta33);
    color: var(--paleta32);
    border: 1px solid var(--paleta32);
  }

  .modal button + button {
    margin-left: 3%;
  }

  textarea {
    width: 100%; /* Faz o input se ajustar ao contêiner, mas não maior que isso */
    max-width: 100%; /* Impede que o input ultrapasse o contêiner */
    box-sizing: border-box; /* Garante que paddings e bordas estejam incluídos na largura total */
  }
  
/*📌📌📌__________________________________________________________________________________________________________________📌📌📌*/
/* _______________________________________________ Estilo do cartão setup _________________________________________________________*/

  .card1 {
    width: 170px; /* Ajuste a largura conforme necessário */
    margin: 10px;
    height: 350px;
    border-radius: 20px;
    border: 1px solid;
    transition: transform 0.3s ease; /* Adiciona uma transição suave para a propriedade transform */
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
  }

  /* Adiciona uma transformação de escala quando o mouse passa por cima */
  .card1:hover {
    transform: scale(1.03); /* Aumenta a escala em 5% */
  }

/* Estilos para diferentes status aplicados a ambos, cards e listas */
.card1.atendendo, .status-atendendo {
  box-shadow: 1px 3px 15px var(--paleta1); /* Sombra 3D */
  background-color: var(--paleta100);
  border-color: var(--paleta200);
}

.card1.aguardando, .status-aguardando {
  box-shadow: 1px 3px 15px var(--paleta1); /* Sombra 3D */
  background-color: var(--paleta101);
  border-color: var(--paleta201);
}

.card1.pronto, .status-pronto {
  box-shadow: 1px 3px 15px var(--paleta1); /* Sombra 3D */
  background-color: var(--paleta102);
  border-color: var(--paleta202);
}


.status-finalizado {
  box-shadow: 1px 3px 15px var(--paleta1); /* Sombra 3D */
  background-image: repeating-linear-gradient(
    45deg,
    var(--paleta102),
    var(--paleta102) 13px,
    var(--paleta4) 5px,
    var(--paleta4) 75px
);
}

.card1.cancelado, .status-cancelado {
  box-shadow: 1px 3px 15px var(--paleta1); /* Sombra 3D */
  background-image: repeating-linear-gradient(
    45deg,
    var(--paleta103),
    var(--paleta103) 13px,
    var(--paleta4) 5px,
    var(--paleta4) 20px
);
}

.card1.esperando, .status-esperando, .status-aberto{
  box-shadow: 1px 3px 15px var(--paleta1); /* Sombra 3D */
  background-color: var(--paleta104);
  border-color: var(--paleta204);
}

.card1.parado, .status-parado {
  box-shadow: 1px 3px 15px var(--paleta1); /* Sombra 3D */
  background-color: var(--paleta105);
  border-color: var(--paleta205);
}

.card1.try_out, .status-try_out {
  box-shadow: 1px 3px 15px var(--paleta1); /* Sombra 3D */
  background-color: var(--paleta106);
  border-color: var(--paleta206);
}

  /* ________________________________________________________________________________________________*/
  /* Adicione estilos para outras classes conforme necessário */
  .info0 {
    margin-top: -3px;
    text-align: center;
  }

  .linha-separadora {
    margin-top: -21px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 1px;
    background-color: var(--paleta300); /* Cor de fundo da linha */
  }
  .info-line {
    font-weight: bold;
    text-align:center;
    font-size: 18px;
    width: 180px;
    height: 230px
  }
  .info-line1 {
    margin-left: 5px;
    width: 160px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Número máximo de linhas */
    -webkit-box-orient: vertical;
    transition: max-height 0.5s, overflow 0.5s; /* Adiciona uma transição suave */
  }
  .infoId {
    margin-top: -24px;
    margin-bottom: 25px;
    margin-left: 130px;
    font-weight: bold;
  }

  .info-line1:hover {
    background-color: var(--paleta300);
    border-radius: 10px;
    height: 100px;
    overflow: visible;
    white-space: normal;
    max-height: unset; /* Remove a altura máxima para exibir todo o conteúdo */
  }

  .texto1 {
    color:  var(--paleta301);
    font-size: 11px;
    width: 180px;
    height: 20px;
  }

  .card1 button {
    border-radius: 15px;
    font-size: 16px;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    display: grid;
    cursor: pointer;
    font-family: 'Merienda', Arial, Helvetica, sans-serif;
    transition: background-color 0.8s;
  }

  .menu-button {
    margin-top: 0px;
    width: 170px;
    height: 30px;
    background-color: var(--paleta302);
    border-color: var(--paleta303);
    color: var(--paleta301);
    cursor: pointer;
    position: relative; /* Adicione position: relative para posicionar os status-buttons */
  }

  .status-buttons {
    margin-left: 5px;
    background-color:var(--paleta304);
    height: 65%;
    width: 160px;
    display: none;
    position: absolute;
    top: 30px; /* Posicione os status-buttons abaixo do menu-button */
    left: 0; /* Alinhe os status-buttons com o menu-button */
    border-radius: 8px;
    z-index: 1;
  }

  .status-buttons button:hover {
    background-color: var(--paleta30);
    color: var(--paleta31);
    border: 1px solid var(--paleta31);
  }

  .status-buttons button {
    flex-direction: column;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    height: 40px;
    margin-left: 13px;
    margin-top: 5px;
    background-color: var(--paleta33);
    color: var(--paleta32);
    border: 1px solid var(--paleta32);
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  .menu-button:hover + .status-buttons,
  .status-buttons:hover {
    display: block; /* Mostra os status-buttons quando o mouse está sobre o menu-button ou os status-buttons */
  }
/*📌📌📌__________________________________________________________________________________________________________________📌📌📌*/
/*_______________________________________________ Estilo das tabelas de dados (LISTA)  _____________________________________________*/

.thead {
  border-bottom: 1px solid var(--paleta); /* Borda inferior para separar as linhas */
}

th {
  font-size: 10px;
  border-radius: 0px;
  background: var(--paleta500); /* Gradiente */
  color: var(--paleta501); /* Cor do texto */
  box-shadow: 0px 5px 10px var(--paleta502); /* Sombra mais pronunciada para efeito 3D elevado */
  text-shadow: 1px 1px 1px var(--paleta503); /* Sombra no texto para melhorar a leitura */
  padding: 5px; /* Espaçamento interno */

}

th:hover {
  background:  var(--paleta504); /* Altera o gradiente */
  color:  var(--paleta505); /* Altera o gradiente */
  box-shadow: 0px 5px 10px var(--paleta506); /* Sombra mais pronunciada para efeito 3D elevado */
  cursor: pointer; /* Muda o cursor para indicar interatividade */
}

/* Estilo para as células da tabela */
td {
  font-size: 12px;
  padding: 1px; /* Espaçamento interno */
  border-bottom: 1px solid var(--paleta510); /* Borda inferior para separar as linhas */
  position: relative; /* Necessário para o pseudo-elemento */
}

td::after {
  content: ''; /* Conteúdo vazio para o pseudo-elemento */
  position: absolute; /* Posicionamento absoluto dentro da célula */
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
}

tr:hover td {
  background-color: var(--paleta511); /* Muda a cor de fundo da linha */
  color: var(--paleta513); /* Opcional: Muda a cor do texto */
  box-shadow: inset 0px 0px 20px  var(--paleta512); /* Sombra interna para um efeito sutil */
}
}
/*_______________________________________________ Estilo dos menus das tabelas de dados (LISTA)  _____________________________________________*/
.menu-contexto {
  display: none;
  position: absolute;
  z-index: 1000;
  width: 150px;
  background-color: var(--paleta520);
  box-shadow: 0 2px 4px var(--paleta521);
  padding: 10px 0;
  border-radius: 5px;
}

.menu-contexto ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-contexto ul li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  color: var(--paleta522);
}

.menu-contexto ul li a:hover {
  background-color: var(--paleta523);
}

/*📌📌📌__________________________________________________________________________________________________________________📌📌📌*/
/*___________________________________________ Estilo para o botão switch (FORMULÁRIOS)  ___________________________________________*/
.switch {
  position: relative;
  width: 60px;
  height: 34px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 40%;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch label {
  border-radius: 15px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--paleta6);
  -webkit-transition: .6s;
  transition: .6s;
}

.switch label:before {
  border-radius: 15px;
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 3px;
  background-color: var(--paleta4);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + label {
  background-color: var(--paleta102);
}

input:focus + label {
  box-shadow: 0 0 1px var(--paleta30);
}

input:checked + label:before {
  
  background-color: var(--paleta202);
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
