* {
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }

:root {
    --paleta1: #1e577b;/* Borda 1 */
    --paleta2: #7b3d1e;/* Borda 1 */
    --paleta3: #768d9d;
    --paleta4: rgb(255, 255, 255);/* Fundo do projeto 1*/
    --paleta5: #ffffff;/* Fundo do projeto 2*/
    --paleta6: #ffffff;    
}

body {
  background: linear-gradient(to bottom, var(--paleta4), var(--paleta5));
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  padding-top: 125px; /* Ajuste conforme a altura do cabeçalho */
}

h1{ /*Relacionado ao titulo*/
  text-align: center; /*Alinhamento*/
  margin-bottom: 25px; /*distância dos objetos*/
}

.header {
  align-items: center; /* Centraliza verticalmente o conteúdo */
  height: 115px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--paleta1);
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
  z-index: 1000; /* Para garantir que o cabeçalho esteja sempre na frente */
  border: none; /* Remova a borda padrão */
  box-shadow: 0 3px 10px rgba(3, 170, 219, 0.7); /* Adicione uma sombra com desfoque para criar o efeito luminoso na parte inferior */
  border-bottom-left-radius: 10px; /* Borda arredondada apenas no canto inferior esquerdo */
  border-bottom-right-radius: 10px; /* Borda arredondada apenas no canto inferior direito */
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
}
.header h1 {
  margin-top: 20px;
  font-size: 25px; /* Altera o tamanho da fonte */
  font-family: Arial, sans-serif; /* Define a família da fonte */
  line-height: 1.5; /* Define a altura da linha para melhorar a legibilidade */
}

/* ________________________________________________________________________________________________*/
/* Estilos do cabeçalho */

.LOGO1 img{
  width: 60px;
  height: 70px;
  margin-top: 0px;
  margin-right: 45px; /* Adicione a margem direita desejada */
  margin-block: 5px; /* Adicione a margem direita desejada */
  transition: transform 0.3s ease;
  background-color: var(--paleta4); /*cor de fundo do card*/
  padding: 5px; /*Tamanho do card*/
  box-shadow: 4px 4px 8px var(--paleta3); /* Sombra 3D */
  border: 1px solid var(--paleta4);
  position: fixed;
  display:grid;
  flex-direction: column;
  border-radius: 10px;
  margin-left: 5px;
  top: 5px;
  z-index: -1;
}
.LOGO2 img{
  margin-top: -20px;
  margin-bottom: -20px;
  background-color: #000000a4;
  padding: 5px;
  border-radius: 10px;
  margin-left: 0px;
  width: 70px;
  height: 30PX;
  top: 5px;
  z-index: -1;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.Borda1 label{
  font-size: 40px;
  color: var(--paleta5);
}

.LOGOLogin img {
  border: 1px solid var(--paleta4);
  background-color: #00000060;
  padding: 5px;
  position: fixed;
  display:grid;
  flex-direction: column;
  border-radius: 10px;
  margin-left: 5px;
  width: 30px;
  height: 30PX;
  top: 5px;
  z-index: -1;
  box-shadow: 0 3px 10px rgba(80, 80, 80, 0.7); /* Adicione uma sombra com desfoque para criar o efeito luminoso na parte inferior */
}

.LOGOLogin {
  position: absolute;
  width: 40px;
  height: 45px;
  right: 10px; /* Posiciona o botão no lado direito do contêiner */
  top: -25px; /* Posiciona o botão no topo do contêiner */
}
/* Estilo para a mensagem de sucesso */
.success-message {
  position: fixed;
  height: 120px;
  width: 300px;
  top: 50%; /* Altere as unidades de medida conforme necessário */
  left: 50%; /* Altere as unidades de medida conforme necessário */
  transform: translate(-50%, -50%);
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  border-radius: 10px;
  z-index: 1000; /* Garanta que a mensagem apareça na frente de outros elementos */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  text-align: center;
}
/* ________________________________________________________________________________________________*/
/*-------📌 Botões Cabeçario 📌-------*/
/* ________________________________________________________________________________________________*/
.sidebar-buttons-container {
  margin-top: 10px; /* Ajuste a margem do topo conforme necessário */
  display: flex;
  justify-content: center; /* Centraliza os elementos horizontalmente */
  align-items: center; /* Centraliza os elementos verticalmente */
}

.sidebar-button {
  margin-bottom: 0px; /* Espaçamento entre os botões */
  border-radius: 4px;
  width: 130px; /* Ajuste a largura conforme necessário */
  height: 30px;
  font-size: 16px;
  border: 1px solid #03AADB;
  background-color: white;
  color: var(--paleta1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebar-button:hover {
  background-color: #6c7b81;
  color: white;
}

/* Estilo para o texto na mensagem de sucesso */
.success-text {
  margin-top: 70px; /* Espaço entre a imagem e o texto */
}

/* Estilo para a imagem na parte superior no centro */
.success-image {
  position: absolute;
  top: 10px; /* Adicione unidades de medida */
  left: 50%; /* Adicione unidades de medida */
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}
/* ________________________________________________________________________________________________*/
/*-------📌 Formulário para solicitação | Cadastro 📌-------*/
/* ________________________________________________________________________________________________*/
/* Estilos para o overlay */
.overlay {
  color: #0188b1;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.overlay1 {
  color: #0188b1;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
/* Estilos para animação */
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 0.3s ease-in;
}

.fade-out {
  animation: fadeOut 0.3s ease-out;
}

.modal {
  background-color: white;
  width: 300px;
  padding: 15px;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal h2 {
  font-size: 24px;
  margin-bottom: 5px;
  color: #333;
}

.modal label {
  display: block;
  margin-bottom:2px;
  font-weight: bold;
}

.modal input[type="text"],
.modal textarea{
  width: 95%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.modal select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
.modal label[for="hora"] {
  display: block; /* Torna o label um elemento de bloco */
  text-align: center; /* Centraliza o texto horizontalmente */
  margin-bottom: 5px; /* Adiciona um espaço entre o label e o campo de hora */
}
/* Estilizando o campo de hora */
.modal input[type="time"] {
  width: 35%; /* Reduzindo a largura para 50% */
  padding: 10px;
  margin: 0 auto; /* Centralizando horizontalmente */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
  /* Adicionando espaçamento interno para o texto dentro do campo de hora */
  padding-left: 8px;
  display: block; /* Certificando-se de que o input é exibido como bloco */
}


.modal textarea {
  height: 50px;
}

.modal button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.modal button:hover {
  background-color: #0056b3;
}

.modal button + button {
  margin-left: 3%;
}
